<div class="row">
  <div class="col-md-5">
    <div class="card ps-3 mb-3"> <!-- Card -->
      
      <span class="custom-span align-middle">
        <p class="text-center mb-0 p-1">Atinja 20 para o próximo nível 🔥</p>
     </span>
     <div class="row">
        <div class="col-7 mt-4 h-40 mb-2">
          <h1 class="">SEUS<br> CLIENTES <br>FIÉIS!</h1>
        </div>
        <div class="col mt-3 h-40 mb-2">
          <div class="circle rounded-circle"><img class="star" src="/assets/img/star-coin.png" alt=""></div>
          
        </div>



     </div>
    <div class="col custom-avatar">
      <div class="d-flex">
        <img src="/assets/img/avatar.jpg" alt="Remy Sharp" class="rounded-circle mr-2" style="width: 40px; height: 40px;">
        <img src="/assets/img/avatar-2.jpg" alt="Travis Howard" class="rounded-circle mr-2" style="width: 40px; height: 40px; border: solid 2px #a4ada3;">
        <img src="/assets/img/avatar-3.jpg" alt="Cindy Baker" class="rounded-circle mr-2" style="width: 40px; height: 40px;">
        <img src="/assets/img/avatar.jpg" alt="Trevor Henderson" class="rounded-circle mr-2" style="width: 40px; height: 40px;">
        <span></span>
      </div>
    </div>
    <div class="col-10 mt-3">
      <div class="custom-temp d-flex h-50">
          <span class="circle-yellow"></span>
          <span class="circle-orange ms-1"></span>
          <span class="circle-red ms-1"></span>
          <p class="ms-auto">🔥</p>
      </div>
    </div>
    </div> <!--Final Card-->
  
  </div>
  <div class="col-xl-7 custom-bg mb-3">
    <div class="row">
        <div class="mt-3 h-25 ">
            <!--First customer-->
            <div class="row">
                <div class="col-2 ms-2 mt-2 bg-primary">
                    <img src="/assets/img/avatar-2.jpg" alt="" class="rounded-circle" width="50px" height="50px">
                </div>
                <div class="col-6 ms-2 mt-2 bg-primary d-flex">
                    <div class="row">
                      <h3 class="mb-0">Pedidos</h3>
                      
                    </div>
                    <table class="table table-borderless mt-2">
                      <thead>
                          <tr class="custom-tr">
                              <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                              <th scope="col" width="5%">ID</th>
                              <th scope="col" width="10%">Tipo</th>
                              <th scope="col" width="15%">Valor</th>
                              <th scope="col" width="25%">Descrição</th>
                              <th scope="col" width="20%">Data</th>
                              <th scope="col" width="20%">Caixa</th>
                          </tr>
                      </thead>
                      <tbody> 
                      
                      <!--    <tr *ngFor="let transaction of transactions$">
                              <th scope="row"><input class="form-check-input" type="checkbox"></th>
                              <td>{{ transaction.id }}</td>
                             
                              <td>R$ {{ transaction.amount }}</td>
                              <td>{{ transaction.description }}</td>
              
                              <td>{{ transaction.quantity }}</td>
                              <td>{{ transaction.name }}</td>  
                          </tr> -->
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
