.custom-span{
    background-color: #fbba3776 ;
    color: #fbb937;
    border-radius: 15px;
    width: 90%;
    font-size: 10pt;
    margin-top: 10px;
    
    
}


.custom-temp{
    border-radius: 25px;
    border: solid 1px#777777;
    padding: 5px 10px 20px;  


}





.circle-red{
    background-color: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.circle-orange{
    background-color: rgb(255, 145, 0);
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.circle-yellow{
    background-color: rgb(255, 247, 0);
    border-radius: 100%;
    width: 20px;
    height: 20px;

}

.circle{
  background-color: #fce9b1eb;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.circle {
    width: 90px; 
    height: 90px; 
    position: relative;
  }
  
  .circle img.star {
    width: 90px; 
    height: auto;
    position: absolute;



  }
  
h1 {
    font-size: 16pt;
    font-weight: 800;
    




}
  .col img{
    
    width: 50px;
    width: 50px;
  }
  .card{
    width: 100%;
    height: 18rem; 
    border-radius: 15px;
    background-color: var(--var-color-card);
    color: var(--var-color-text);
  }

  
  .custom-bg{
    border-radius: 15px;
    background-color: var(--var-color-card);
  }