
<div class="card">
    <!-- Card Body -->
    <div class="card-body pb-0">
       <div class="d-flex align-items-center">
          <div class="position-relative">
             <img src="../assets/images/avatar/avatar.jpg" alt="" class="rounded-circle avatar-xl">
             <a href="#" class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verifed">
             <img src="../assets/img/logo.png" alt="" height="60" width="60">
             </a>
          </div>
          <div class="ms-6 custom-text">
             <h4 class="mb-0">{{name}}</h4>
             <p class="mb-1 fs-6 ">Acompanhe seu negócio</p>
             <span class="fs-6"><span class="text-warning">4.5</span> 
               <i class="bi bi-star-fill text-warning me-n1"></i>
               <i class="bi bi-star-fill text-warning me-n1"></i>
               <i class="bi bi-star-fill text-warning me-n1"></i>
               <i class="bi bi-star-fill text-warning me-n1"></i>
               <i class="bi bi-star-fill text-warning"></i>
           </span>
          </div>
       </div>
       <div class="border-top row mt-3 border-bottom mb-3 g-0 custom-col">
         <div class="col">
             <div class="pe-1 ps-2 py-3 custom-teste">
                 <h5 class="mb-0">11,604 <i class="fa-brands fa-instagram"></i></h5>
                 <span>Seguidores</span>
             </div>
         </div>
         <div class="col border-start">
             <div class="pe-1 ps-3 py-3 ">
                 <h5 class="mb-0">32 <i class="fa-solid fa-bowl-food"></i></h5>
                 <span>Pedidos</span>
             </div>
         </div>
         <div class="col border-start">
             <div class="pe-1 ps-3 py-3 ">
                 <h5 class="mb-0">12,230 <i class="bi bi-x-circle"></i></h5>
                 <span>Cancelamentos</span>
             </div>
         </div>
     </div>
        <div class="row mb-0">
            <div class="col-4">
                <span class="status-profile color-1">
                    <p class="bg-custom-1 p-1"><i class="bi bi-patch-check-fill icon-verificad"></i> Pefil Verificado</p>
                </span>   
            </div>
            <div class="col-4">
                <span class="status-profile">
                    <p class="bg-custom-2 p-1"><i class="bi bi-2-circle-fill color-custom"></i> Pefil Level 2</p>
                </span>   
            </div>
            <div class="col-5">
                <span class="status-profile">
                    <p class="bg-green p-1"><i class="bi bi-emoji-smile-fill"></i> Poucos Cancelamentos</p>
                </span>   
            </div>
        </div>
    </div>
 </div> 

