
<div class="row">
    <div class="col custom-col">
        <main class="mt-1">
            <div class="container-fluid border border-primary">
                <div class="row">
                    @if (!isLoginPage()) {
                    <div class="col-3 col-2 col-md-4 col-xxl-2">
                
                        <app-sidebar></app-sidebar>
          
                    </div>}
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </main>
    </div>
  
</div>
