
    <div class="row">
      <div class="col-6 ">
        <div class="quiz-window">
          <div class="quiz-window-header">
          
          </div>
          <div class="quiz-window-body ps-3">
            <div class="table-responsive">
              <table class="table">
                <thead class="bg-danger c">
                  <tr>
                    <th class="custom-th-1">Despesas</th>
                    <th scope="col" class="custom-th">%</th>
                    <th scope="col" class="custom-th">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="star goldstar"></span>
                      <span class="guiz-awards-title">Golden Star</span>
                      <div class="guiz-awards-subtitle">90-100% correct answers</div>
                    </td>
                    <td>8</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="star silverstar"></span>
                      <span class="guiz-awards-title">Silver Star</span>
                      <div class="guiz-awards-subtitle">80-90% correct answers</div>
                    </td>
                    <td><span class="null">0</span></td>
                    <td><span class="null">0</span></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="star bronzestar"></span>
                      <span class="guiz-awards-title">Bronze Star</span>
                      <div class="guiz-awards-subtitle">70-80% correct answers</div>
                    </td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="star rhodiumstar"></span>
                      <span class="guiz-awards-title">Rhodium Star</span>
                      <div class="guiz-awards-subtitle">60-70% correct answers</div>
                    </td>
                    <td><span class="null">0</span></td>
                    <td><span class="null">0</span></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="star platinumstar"></span>
                      <span class="guiz-awards-title">Platinum Star</span>
                      <div class="guiz-awards-subtitle">50-60% correct answers</div>
                    </td>
                    <td>2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="star"></span>
                      <span class="guiz-awards-title">Star</span>
                    </td>
                    <td><span class="null">0</span></td>
                    <td><span class="null">0</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="guiz-awards-buttons">
              <button class="guiz-awards-but-back"><i class="fa fa-angle-left"></i> Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  