
.bg-red{
  background-color: red;

}
.custom-carddash{

    margin-left: 0;
    

}

.card{
    border: none;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    
   
    border-radius: 15px;

}



.icon{
    text-align: center;
  
 
    border-radius: 10px;

}


.badge{
   height: 25px;
   background-color:rgb(254, 12, 149);
   color:rgb(255, 255, 255);
}

.progress-bar{
    background-color:rgb(254, 12, 149);
    border-radius: 30px;



}

.heading{
    color: #000000;
    width: 130px;
    border-radius: 25px;
    padding-left: 15px;
    margin-bottom: 20px;
    background-color:rgb(254, 12, 149);
    font-weight: 800;
    margin-top: 10px;
    font-size: 32pt;



}

h2{
    font-weight: 700;
    font-size: 24pt;
    color: rgb(90, 90, 90);


}
span{
    font-weight: 500;
    color: var(--var-color-text);


}

.custom-icon{
    color: rgb(234, 18, 18);
    background-color:  rgba(253, 5, 5, 0.178);
}
.custom-icon i{
    color: rgb(253, 5, 5);
    font-weight: 800;
    
}

.custom-icon-2{
    color: rgb(240, 6, 6);
    background-color: rgba(42, 5, 253, 0.107);
}
.custom-icon-2 i{
    color: rgb(42, 5, 253);
    font-weight: 800;
    
}

.custom-h{
    background-color:  rgba(253, 5, 5, 0.178);
    color: rgb(253, 5, 5);

}


.custom-g{
    background-color: rgba(42, 5, 253, 0.107);
    color: rgb(42, 5, 253);

}


.custom-span p{
    color: #b4b401;
    background-color: #fdfd084b;
    border-radius: 15px;
    font-size: 9pt;
    width: 220px;
    height: 30px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 9px;

    background-color: #fdfd084b;
    font-weight: 500;
   
} 

.icon{

    cursor: pointer;
}


  .custom-body{
    background-color: rgb(250, 250, 250);
    border-radius: 30px;

  }

  .form-select{
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    border: none;
    color: rgb(206, 205, 205);
  }

  .form-control{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(156, 156, 156);
    color: rgb(255, 255, 255);
  }

  .form-select i{
   
    color: rgb(255, 255, 255);
  }

  #iconNegado{
    color: rgb(226, 18, 18);



  }


  .alert-custom {
    background: linear-gradient(135deg, rgba(255, 3, 3, 0.877), rgba(230, 25, 25, 0.1));
    border-radius: 15px;

  }

#error{
   color: rgb(255, 255, 255);

}

.custom i{
  font-size: 12pt;



}

.custom-end-box{
  cursor: pointer;
  background-color: #ff0404;
  border-radius: 15px;
  font-size: 9pt;
  color: rgb(255, 255, 255);
  text-align: center;


}

.custom-end-box i{
  font-size: 10pt;

  
  color: rgb(255, 255, 255);


}

.text-end span a{
  font-size: 10pt;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  color: rgb(255, 255, 255);



}

#values{
  font-size: 9pt;
  color: rgb(153, 153, 153);
  font-weight: 500;

}

p{
  color: rgb(153, 153, 153);
  font-size: 10pt;


}


.fa-solid fa-sort-up{
  color:red;
  font-size: 36pt;
}

.info{
  color: red;
  font-size: 12pt;
  padding-left: 6px;


}

.c-icon{

  color: red;
  font-size: 35pt;
}

.custom-button{
  background-color: red;
  color: white;
  border-radius: 25px;

}

.custom-title{
  font-size: 28pt;
  font-weight: 800;
  letter-spacing: -1px;
  color: #ffffff;
  margin: auto;
  
}

.modal-header{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.input-group-prepend span{
  color: red;
}

.custom-bg{
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.custom-search input{

  border-radius: 15px;



}

.custom-search button{
  color: rgb(255, 255, 255);
  border-radius: 25px;
  background-color: red;
  border: none;
  font-size: 12px;
  padding: 2px 20px;



}
.badge{
  background-color: red;
  padding: 5px 10px;


}

li{
  font-size: 14px;
  border: none !important;
}

.custom-span-d{
  width: 180px;
  height: 24px;
  background-color: red;
  border-radius: 15px;



}

.custom-span-d h6{
  color: white;
  padding: 2px;
  


}