
     <div class="container-fluid border border-primary">
       <div class="row">
         <div class="col">
           <main class="mt-4">
             <div class="row">
               <div class="col">
                 <div class="row">
                   <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                     <div class="card mb-4">
                       <div>
                         <div class="card-body">
                          <div class="col-9 col-xxl-9">
                            <span class="badge text-bg-secondary mb-4">Total Pedidos</span>
                           </div>
                           <div class="mt-2 d-flex justify-content-between align-items-center">
                             <div class="lh-1">
                               <div class="">
                                 <h2 class="h1 fw-bold ms-2">Total: {{totalSales}}</h2>
                               </div>
                               <div class="row">
                                  <div class="col-1">
                                    <span><i class="fa-regular fa-circle-question" style="color: #ff0000;"></i></span>
                                  </div>
                                  <div class="col-10">
                                    <p>Inclusos todos os pedidos (abertos, fechados e cancelados)</p>
                                  </div>
                               </div>
                             </div>
                             <div>
                               <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary icon"><i class="fa-solid fa-sort-up c-icon"></i></span>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                     <!-- Card Orders -->
                     <div class="card mb-4">
                         <div class="card-body">
                           <div class="row">
                            <div class="col-9 col-xxl-9">
                              <span class="badge text-bg-secondary">Tipo Pedido</span>
                             </div>
                             <div class="mt-2 d-flex justify-content-between">
                              <div class="lh-1">
                                <div class="mt-2 d-flex">
                                  <div class="mb-4 p-0 custom-text">
                                    <p class="">Delivery: <span class="ms-2 badge badge-secondary">12</span></p>
                                    <p class="">Mesa:  <span class="ms-2 badge badge-secondary">36</span></p>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary icon"><i class="fa-solid fa-receipt c-icon" style="color: #ff0000;"></i></span>
                              </div>
                            </div>
                              
                           </div>
                         </div>
                       </div>
                    </div>
                   <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                     <!-- Card -->
                     <div class="card mb-4">
                       <!-- Card Body -->
                       <div class="card-body">
                         <div class="row">
                           <div class="col-9 col-xxl-9">
                            <span class="badge text-bg-secondary">Meu Cardápio</span>
                           </div>
                           <div class="col-3 col-xxl-3 text-end">
                             <a tabindex="0" class="custom" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="O que é ticket médio?" data-bs-content="Ticket médio é todas suas vendas dividas pelo número totais de pedidos"><i class="fa-regular fa-circle-question"></i></a>
                           </div>
                         </div>
                        
                         <div class="mt-2 d-flex justify-content-between align-items-center">
                          <div class="lh-1">
                            <div class="mt-2 d-flex">
                      
                              <div class="mb-4 p-0 custom-text">
                                <p class="">Ativos: <span class="ms-2 badge badge-secondary">{{productActive.length}}</span></p>
                                <p class="">Desativados:  <span class="ms-2 badge badge-secondary">{{productDeactivate.length}}</span></p>
                            
                              </div>
                            </div>
                          </div>
                      
                          <div>
                              <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success"><i class="fa-solid fa-hand-holding-dollar c-icon"></i></span>
                          </div>
                      </div>
                      
                       </div>
                     </div>
                   </div>
                   <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                     <!-- Card -->
                     <div class="card mb-4">
                       <!-- Card Body -->
                       <div class="card-body">
                         <div class="row">
                          <div class="col-9 col-xxl-9">
                            <span class="badge text-bg-secondary">Delivery</span>
                           </div>
                           <div class="col-3 col-xxl-3 text-end">
                             <a tabindex="0" class="custom" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="fa-regular fa-circle-question"></i></a>
                           </div>
                         </div>
                         <div class="mt-2 d-flex justify-content-between align-items-center">
                           <div class="lh-1">
                             <h2 class="h1 fw-bold mb-4">Status:</h2>
                             <span class="badge badge-pill badge-success">Online</span>
                           </div>
                           
                           <div>
                             <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info"><i class="fa-solid fa-motorcycle c-icon" style="color: #ff0000;"></i></span>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </main>
         </div>
       </div>
       <div class="row">
         <div class="col-12 col-md-12 col-xxl-3 mb-4">
           <div class="custom-bg h-100 mb-3">
             <ul class="list-group">
              <li class="list-group-item d-flex">
                <div class="justify-content-start mt-4">
                  <p>Filtre sua Busca</p>
                  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" >
                  <label class="form-check-label" for="firstCheckbox">Pedidos Abertos</label>
                </div>
                <div class="justify-content-end">
                  <i class="fa-solid fa-clock-rotate-left" style="color: #ff0000;"></i>
                </div>
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                <label class="form-check-label" for="secondCheckbox">Pedidos Fechados</label>
              </li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Pedidos Cancelados</label>
              </li>
            </ul>
             <div class="row">
              <div class="col d-flex flex-column">
                <div class="ms-3 mt-2">
                  <p>Tipo de pedido:</p>
                  <div class="custom-mobile">
                    <div class="btn-group mt-0" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Todos</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Mesa</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Delivery</label>
                  </div>
                </div>
              </div>
              </div>
            </div>
           </div>
         </div>
         <div class="col">
            <div class="row">
              <div class="col-7 col-md-4 col-xxl-3 custom-title ms-3">
                <h2>Meus Pedidos 🔥</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                
              </div>
            </div>
            <div class="custom-table">
              <div class="mb-2 d-flex justify-content-between align-items-center pt-2 ms-2 custom-filter">
                <div class="position-relative custom-placeholder">
                  <span class="position-absolute search"><i class="fa fa-search"></i></span>
                  <input class="form-control w-100  bg-custom" placeholder="Busque o pedido">
                </div>
                <div class="px-2 custom-btn-link">
                  <span><a href="." class="custom-link">Fechar Pedido <i class="fa-solid fa-arrow-right"></i></a> </span>
                </div>
                  
              </div>
              <div class="table-responsive">
           
              <table class="table table-responsive table-borderless ms-3 fixed-header">
                  
                <thead class="fixed-header">
                  <tr class="bg-custom" >
             
                    <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                    <th scope="col" width="20%">Data</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="20%">Atendimento</th>
                    <th scope="col" width="20%">Pedidos</th>
                    <th scope="col" width="20%">Tipo</th>
                  
                  </tr>
                </thead>
               @for (transaction of data$ |async; track $index; let i = $count) {
                <tbody>
                  <tr>
                    <td scope="row"><input class="form-check-input" type="checkbox"></td>
                    <td>{{transaction.date | date}}</td>
                    <div>
                      <i class="fa-solid fa-stopwatch" style="color: red;"></i>
                      <span class="ms-1">{{ transaction.status }}</span>
                    </div>
                    <div>
                      <i class="fa-solid fa-circle-check" ></i>
                      <span class="ms-1">{{ transaction.status }}</span>
                    </div>
                    <td><i class="fa-solid fa-receipt"></i><span class="custom-span text-light"></span></td>
                    <td style="font-size: 9pt;">{{transaction.description}}</td>
                  </tr>
                </tbody>}
          </table>
          </div>
          </div>
        </div>
       </div>
     </div>
    
