
<div class="col">
    <main class="mt-1">
        <div class="container-fluid border border-primary">
            <div class="row">
                <<div class="col">
                    <main class="mt-4">
                        <div class="row">
                           
                            <div class="col">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                                       <div class="card mb-4">
                                          <div >
                                            <div class="card-body">
                                                <span class="fs-6 text-uppercase fw-semibold">Total Pedidos</span>
                                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                                    <div class="lh-1">
                                                        <div class="">
                                      
                                                            <h2 class="h1 fw-bold">332</h2>
                                                       
                                                
                                                            <p><i class="fa-solid fa-xmark"></i> Cancelamentos: 0</p>
                                                        </div>
                                                        <span class="custom-span">
                                                            <p>Atinja 20 para o próximo nível 🔥</p>
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary icon"><i class="fa-solid fa-sort-up c-icon"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                          </div>
                                       </div>
                                    </div>
                                 
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                                       <!-- Card -->
                                       <div class="card mb-4">
                                          <div >
                                             <div class="card-body">
                                                <div class="row">
                                                   <div class="col-7 col-xxl-7">
                                                      <span class="fs-6 text-uppercase fw-semibold" style="color: rgba(53, 52, 52, 0.705);">Pedidos</span>
                                                   </div>
                                                   <div class="col-5 col-xxl-5 text-end">
                                                      <span><a> a<i class="fa-solid fa-arrow-right"></i></a> </span>
                                                   </div>
                                                </div>
                                                   <div class="mt-2 d-flex justify-content-between align-items-center">
                                                      <div class="lh-1">
                                                         <div class="custom-span-d mb-2">
                                                           <h6 class="ms-3">Delivery: <span class="bg-red rounded-circle p-1">32</span></h6>
                                                         </div>
                                                         <div class="custom-span-d mb-2">
                                                            <h6 class="ms-3">Mesa: <span>12</span></h6>
                                                          </div>
                                                         <span class="custom-span">
                                                            <p>Atinja 20 para o próximo nível 🔥</p>
                                                         </span>
                                                      </div>
                                                      <div>
                                                         <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary icon" data-bs-toggle="modal" data-bs-target="#caixa"><i class="bi bi-plus-circle-fill"></i></span>
                                                      </div>
                                                   </div>
                                             </div>
                                          </div>
                                          <div class="modal fade" id="caixa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                             <div class="modal-dialog">
                                                <div class="modal-content custom-body">
                                                   <div class="modal-header" style="background-color:red;">
                                                      <h5 class="custom-title">Abrir Caixa! 🔥</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 
                                 
                                  
                                       <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                                          <!-- Card -->
                                          <div class="card mb-4">
                                             <!-- Card Body -->
                                             <div class="card-body">
                                                <div class="row">
                                                   <div class="col-9 col-xxl-9">
                                                      <span style="color: rgba(53, 52, 52, 0.705);" class="fs-6 text-uppercase fw-semibold">Ticket Médio</span>
                                                   </div>
                                                   <div class="col-3 col-xxl-3 text-end">
                                                      <a tabindex="0" class="custom" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="O que é ticket médio?" data-bs-content="Ticket médio é todas suas vendas dividas pelo número totais de pedidos"><i class="fa-regular fa-circle-question"></i></a>
                                                   </div>
                                                </div>
                                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                                   <div class="lh-1">
                                                      <h2 class="h1 fw-bold mb-1"></h2>
                                                      <span></span>
                                                   </div>
                                                   <div>
                                                      <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success"><i class="fa-solid fa-hand-holding-dollar c-icon"></i></span>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                                          <!-- Card -->
                                          <div class="card mb-4">
                                             <!-- Card Body -->
                                             <div class="card-body">
                                                <div class="row">
                                                   <div class="col-9 col-xxl-9">
                                                      <span class="fs-6 text-uppercase fw-semibold" style="color: rgba(53, 52, 52, 0.705);">TOTAL PEDIDOS</span>
                                                   </div>
                                                   <div class="col-3 col-xxl-3 text-end">
                                                      <a tabindex="0" class="custom" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?"><i class="fa-regular fa-circle-question"></i></a>
                                                   </div>
                                                </div>
                                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                                   <div class="lh-1">
                                                      <h2 class="h1 fw-bold mb-1"></h2>
                                                      <span></span>
                                                   </div>
                                                   <div>
                                                      <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info"><i class="fa-solid fa-bowl-food c-icon"></i></span>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                            
                                  
                                </div>
                            </div>
                        </div>
                      
                    </main>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="custom-bg h-100">
                        <div class="row">
                            <div class="col-auto">
                                <div class="ms-2">
         
                                    <form class="d-flex mb-3 custom-search mt-4 ms-2" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Pesquisar produto" aria-label="Search" />
                                        <button class="" type="submit">Buscar</button>
                                    </form>
                                    <ol class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold">Abertos</div>
                                            Content for list item
                                          </div>
                                          <span class="badge text-bg-primary rounded-pill">14</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold">Fechados</div>
                                            Content for list item
                                          </div>
                                          <span class="badge text-bg-primary rounded-pill">14</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold">Cancelados</div>
                                            Content for list item
                                          </div>
                                          <span class="badge text-bg-primary rounded-pill">14</span>
                                        </li>
                                      </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <app-ordertable></app-ordertable>
                </div>
            </div>
            
          
        </div>
    </main>
</div>