
            <div class="row">
                <div class="col">
                    <main class="ms-4 mt-4">
                
                        <div class="row">
                            <app-carddash></app-carddash>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                                <app-line-chart></app-line-chart>
                        
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-3">
                                <app-best-service></app-best-service>
                            </div>
                  
                     
                        </div>
                        <div class="row">
                            <div class="teste col-sm-12 col-md-6 col-xxl-6 mb-3 mt-3">
                                <app-table></app-table>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6 p-2 a">
                                <app-ordertable></app-ordertable>
                            </div>
                        </div>
                     
                    </main>
                </div>
                
            </div>

