<div class="card">
   <div class="row ms-1">
      <div class="col-7 mt-4 ms-1 mb-3">
         <h3 class="mb-0 p-0 text-truncate-line-2">PRODUTO <br> EM ALTA 🔥</h3>
         <p>Veja seu produto mais vendido</p>
      </div>
      <div class="col-4 p-0">
         <img src="../assets/img/trofeu.png" alt="trofeu" class="custom-img">
      </div>
      <div class="card-body p-0 ms-2">
         <span class="custom-span mt-3">
            <p>Atinja 20 para o próximo nível 🚀</p>
         </span>   
            <div class="col">
               <li class="list-group-item d-flex justify-content-between mt-2 custom w-75">
                  <div class="">
                     <div class="fw-bold">Top Produto</div>
                     Dona Maria
                  </div>
                  <span class="badge rounded-pill align-item-center vertical-align-middle">🥇</span>

               </li>
            </div>
      </div>
   </div>
 </div>
