
<div class="col">
    <main class="ms-4 mt-1">
        <div class="container-fluid border border-primary">
            <div class="row">
                <div class="col">
                    <main class="ms-4 mt-4">
                        <div class="row">
                            <div class="col-2 custom-col">
                                <div class="custom-filter">
                                    <h1>teste</h1>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row mt-4">
                                    <app-carddash></app-carddash>
                                </div>
                                <div class="row">
                                    <app-table></app-table>
                                </div>
                                <div class="row">
                                    <div class="col-4 mt-4">
                                        <app-line-chart></app-line-chart>
                                    </div>
                                    <div class="col mt-4">
                                        <app-table-financial></app-table-financial>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </main>
                </div>
            </div>
          
        </div>
    </main>
</div>