.container{
    margin: 0 auto;
}

.card{
    background-color: var(--color-cards);
    border-radius: 25px;
}
.card-body{
    color: var(--var-color-text);

}
.card-body input{
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 20px;

}
.card-body button{
    text-align: center;
    padding: 3px 40px !important;
    border: none;
    border-radius: 25px;
    background-color: red;

}
.card-body button:hover{
    background-color: transparent;
}
.card-body a{
    color: #a5a5a5 !important;
    font-size: 14px;
    text-decoration: none;
    border-bottom: solid 1px red;
    transition: 1.5s;
}
.card-body a:hover{
    border: none;
}
.text-center{
    color: var(--var-color-text);
    font-size: 13px;
}
.text-center a{
    color: var(--var-color-text) !important;
    font-size: 13px;
}








