.container{
    margin: 0 auto;



}

.card{
    background-color: var(--color-cards);
    border-radius: 25px;
}
.card-body{
    color: var(--var-color-text);

}

.card-body input{
    background-color: #343434;

}

.card-body button{
    text-align: center;
    padding: 3px 40px !important;

}
.card-body button:hover{
    background-color: transparent;
}
.card-body a{
    color: #a5a5a5 !important;
    font-size: 14px;


}

.text-center{
    color: var(--var-color-text);
    font-size: 13px;
}

.text-center a{
    color: var(--var-color-text) !important;
    font-size: 13px;
}

.custom-text{
    color: white;
    background-color: red;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.custom-text h2{
    font-weight: 700;
    font-size: 36pt;
    letter-spacing: -3px;


}

button{

    border: none;
    border-radius: 25px;
    background-color: red;

}
button:hover{
    background-color: #ffffff;
    color: red;
    border: solid 1px red;
}


img{
    width: auto;
    height: 500px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;


}

input{


    border: none;
    border-radius: 20px;
}

.teste{
    margin-left: 15px;

}


.custom-password{



}

 a{
    text-decoration: none !important;
    color: rgb(56, 56, 56) !important;

}